.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(36 43 53);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.header span {
  display: flex;
  flex: 1 1 300px;
  padding: 10px;
}

.row {
}

.row:nth-child(even) {
  background-color: lightyellow;
}

.cell {
  border: 1px solid rgb(36 43 53);
  padding: 8px;
  flex: 1 1 300px;
  border-top-width: 0;
  background: #828080;
}

.cell:not(:last-child) {
  border-right-width: 0;
}

.cellSkeleton {
  border: 1px solid #94b9f2;
  padding: 8px;
  flex: 1 1 300px;
  height: 30px;
  border-top-width: 0;
  background: linear-gradient(-45deg, #0a171c, #efebda);
  animation: gradient 2s ease infinite;
  background-size: 400% 400%;
}
