.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #94b9f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.header span {
  display: flex;
  flex: 1 1 300px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid #94b9f2;
  padding: 8px;
  flex: 1 1 300px;
  border-top-width: 0;
  background: #ffffff;
}

.cell:not(:last-child) {
  border-right-width: 0;
}

.cellSkeleton {
  border: 1px solid #94b9f2;
  padding: 8px;
  flex: 1 1 300px;
  height: 30px;
  border-top-width: 0;
  background: linear-gradient(-45deg, #bce4f5, #f6fd98);
  animation: gradient 2s ease infinite;
  background-size: 400% 400%;
}
