h1 {
  font-size: 2rem;
  animation: show 2s ease-in;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes myEffect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgBlink {
  0% {
    background-color: rgba(255, 0, 0, 0.524);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(255, 0, 0, 0.524);
  }
}

@keyframes bgBlinkGr {
  0% {
    background-color: rgba(6, 210, 60, 0.524);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(6, 210, 60, 0.524);
  }
}

@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scale {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
